/Proje1_Java/Cizim/nbproject/private/
/hafta4/CizimKutuphanesi/nbproject/private/
/hafta4/CizimUygulamasi/nbproject/private/
/hafta4/CizimKutuphanesi/build/
/hafta4/CizimKutuphanesi/dist/
/hafta4/CizimUygulamasi/build/